# Lesson 2 Exercise 3: Creating Fact and Dimension Tables with Star Schema

<img src="images/postgresSQLlogo.png" width="250" height="250">

### Walk through the basics of modeling data using Fact and Dimension tables. You will create both Fact and Dimension tables and show how this is a basic element of the Star Schema. 

#### Where you see ##### you will need to fill in code. 

### This exercise will be more challenging than the last. Use the information provided to create the tables and write the insert statements. 


Note: __Do not__ click the blue Preview button at the bottom

### Import the library 
Note: An error might popup after this command has exectuted. If it does read it careful before ignoring.

In [1]:
import psycopg2 as postgres

### Create a connection to the database

In [2]:
# Set the connection string variables
hostname = "127.0.0.1"
database = "postgres"
username = "postgres"
password = "123456"

# Form the connection string
connection_string = "host={} dbname={} user={} password={}".format(
    hostname, database, username, password)

# Create a connection with the database
connection = postgres.connect(connection_string)

### Next use that connect to get a cursor that we will use to execute queries.

In [3]:
cursor = connection.cursor()

#### For this demo we will use automactic commit so that each action is commited without having to call conn.commit() after each command. The ability to rollback and commit transactions is a feature of Relational Databases.

In [4]:
connection.set_session(autocommit=True)

### Imagine you work at an online Music Store. There will be many tables in our database, but let's just focus on 4 tables around customer purchases. 

<img src="images/starSchema.png" width="750" height="750">

### From this representation you can start to see the makings of a "STAR". You will have one fact table (the center of the star) and 3  dimension tables that are coming from it.

### TO-DO: Create the Fact table and insert the data into the table

In [5]:
# Form the query to create the table
query = "CREATE TABLE IF NOT EXISTS customer_transactions "
query += "(customer_id INT, store_id INT, spent FLOAT)"

# Execute the query and create the query
cursor.execute(query)

In [6]:
# Form the query to insert rows in the table
query = "INSERT INTO customer_transactions "
# add table columns to the query
query += "(customer_id, store_id, spent) "
# add columns placeholder
query += "VALUES (%s, %s, %s) "

In [7]:
# Insert first row
cursor.execute(query, (1, 1, 20.50))

# Insert second row
cursor.execute(query, (2, 1, 35.21))

In [8]:
# Confirm that data were inserted successfully
cursor.execute("SELECT * FROM customer_transactions")

# Fetch first row
row = cursor.fetchone()

print("Table: Customer Transactions\n")

# Loop and print all rows
while row:
    print(row)
    # Fetch next row
    row = cursor.fetchone()

Table: Customer Transactions

(1, 1, 20.5)
(2, 1, 35.21)

### TO-DO: Create the Dimension tables and insert data into those tables.

In [9]:
# Customer Table

# Form the query to create the table
query = "CREATE TABLE IF NOT EXISTS customer "
query += "(customer_id INT, name VARCHAR, rewards BOOLEAN)"

# Execute the query and create the query
cursor.execute(query)

# Form the query to insert rows in the table
query = "INSERT INTO customer "
# add table columns to the query
query += "(customer_id, name, rewards) "
# add columns placeholder
query += "VALUES (%s, %s, %s) "

# Insert first row
cursor.execute(query, (1, 'Amanda', True))

# Insert second row
cursor.execute(query, (2, 'Toby', False))

# Confirm that data were inserted successfully
cursor.execute("SELECT * FROM customer")

# Fetch first row
row = cursor.fetchone()

# Loop and print all rows

print("Table: Customer\n")

while row:
    print(row)
    # Fetch next row
    row = cursor.fetchone()

Table: Customer

(1, 'Amanda', True)
(2, 'Toby', False)

In [10]:
# Items Purchased Table

# Form the query to create the table
query = "CREATE TABLE IF NOT EXISTS items_purchased "
query += "(customer_id INT, item_number INT, item_name VARCHAR)"

# Execute the query and create the query
cursor.execute(query)

# Form the query to insert rows in the table
query = "INSERT INTO items_purchased "
# add table columns to the query
query += "(customer_id, item_number, item_name) "
# add columns placeholder
query += "VALUES (%s, %s, %s) "

# Insert first row
cursor.execute(query, (1, 1, 'Rubber Soul'))

# Insert second row
cursor.execute(query, (2, 3, 'Let It Be'))

# Confirm that data were inserted successfully
cursor.execute("SELECT * FROM items_purchased")

# Fetch first row
row = cursor.fetchone()

# Loop and print all rows

print("Table: Items Purchased\n")

while row:
    print(row)
    # Fetch next row
    row = cursor.fetchone()

Table: Items Purchased

(1, 1, 'Rubber Soul')
(2, 3, 'Let It Be')

In [11]:
# Items Purchased Table

# Form the query to create the table
query = "CREATE TABLE IF NOT EXISTS store "
query += "(store_id INT, state VARCHAR)"

# Execute the query and create the query
cursor.execute(query)

# Form the query to insert rows in the table
query = "INSERT INTO store "
# add table columns to the query
query += "(store_id, state) "
# add columns placeholder
query += "VALUES (%s, %s) "

# Insert first row
cursor.execute(query, (1, 'CA'))

# Insert second row
cursor.execute(query, (2, 'WA'))

# Confirm that data were inserted successfully
cursor.execute("SELECT * FROM store")

# Fetch first row
row = cursor.fetchone()

# Loop and print all rows

print("Table: Store\n")

while row:
    print(row)
    # Fetch next row
    row = cursor.fetchone()

Table: Store

(1, 'CA')
(2, 'WA')

### Now run the following queries on this data easily because of utilizing the Fact/ Dimension and Star Schema
 
#### Query 1: Find all the customers that spent more than 30 dollars, who are they, which store they bought it from, location of the store, what they bought and if they are a rewards member.

#### Query 2: How much did Customer 2 spend?

### Query 1:  
Find all the customers that spent more than 30 dollars, who are they, which store they bought it from, location of the store, what they bought and if they are a rewards member.

In [12]:
# Form the query

# The SELECT statement
query = "SELECT customer.name, store.store_id, store.state, "
query += "items_purchased.item_name, customer.rewards "

# The FROM statement
query += "FROM customer_transactions "
# First JOIN
query += "JOIN store ON customer_transactions.store_id = store.store_id "
# Second JOIN
query += "JOIN items_purchased ON customer_transactions.customer_id = items_purchased.customer_id "
# Third JOIN
query += "JOIN customer ON customer_transactions.customer_id = customer.customer_id "

# The WHERE statement
query += "WHERE spent > 30 "

# Execute the query
cursor.execute(query)

# Fetch first row
row = cursor.fetchone()

# Fetch all rows and print them
while row:
    print(row)
    # Fetch next row
    row = cursor.fetchone()

('Toby', 1, 'CA', 'Let It Be', False)

### Your output from the above cell should look like this:
('Toby', 1, 'CA', 'Let It Be', False)

### Query 2:   
How much did Customer 2 spend?

In [13]:
# Form the query

# The SELECT statement
query = "SELECT customer_id, spent "

# The FORM statement
query += "FROM customer_transactions "

# The WHERE statement
query += "WHERE customer_id = 2"

# Execute the query
cursor.execute(query)

# Fetch first row
row = cursor.fetchone()

# Fetch all rows and print them
while row:
    print(row)
    # Fetch next row
    row = cursor.fetchone()

(2, 35.21)

### Your output from the above cell should include Customer 2 and the amount: 
(2, 35.21)

### Summary: 

You can see here from this elegant schema that we were: 

* 1) able to get "facts/metrics" from our fact table (how much each store sold), and 

* 2) information about our customers that will allow us to do more indepth analytics to get answers to business questions by utilizing our fact and dimension tables.

### TO-DO: Drop the tables

In [14]:
cursor.execute("DROP TABLE customer_transactions, customer, store, items_purchased")

### And finally close your cursor and connection.

In [15]:
cursor.close()

In [16]:
connection.close()